.Card {
  background-color: red;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid red;
  margin: 25px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.Card .Titulo {
  padding: 5px 0px;
  display: flex;
  justify-content: center;
}

.Card .Conteudo {
 flex-grow: 1;
 background-color: white;
 color:black;
 padding: 10px;
}