.TabelaProdutos table {
  width: 100%;
}
.TabelaProdutos th {
  background-color: #84339a;
  color: white;
}
.TabelaProdutos .Par {
  background-color: #ddd;
}
.TabelaProdutos .Impar {
  background-color: #d896ea;
}
